.resource{
   background: white;
   min-height: 100%;
}
.resize{
    font-size : 1.1rem;
}
.header{
    text-align: center;
    color : white;    
}

.resourceHome{
    display: inline-block;  
    vertical-align: text-top;
}
.resourceHome p{
    text-indent: 5%;
}

#infoLeft{
    float: left;
    width: 70%;
}
#infoRight{
    float: right;
    /* text-align: center; */
    width:30%
}
.canvas{
    text-align: center;
}

.board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* text-align: center; */
}
.boardBody{
  width: 50%;
    
}
.chart{
    width: 50em;
    height: 25em;
}
canvas{
    width: 50em;
    height: 25em;
}

.nameSpace {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.outerCounter{
    /* width: 50em; */
    display: flex;
    flex-direction: row;
}

.nameSpaceCheck{
    padding-right : 3rem;
    cursor: pointer;
}

.subNameSpace{
    display:inline;
}

.loading{
    position: absolute; 
    left : 50%;
    top : 50%;
}
.outerCounter{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.counter {
    display: flex;
    font-size: 5em;
    flex-direction: column;
    border-style: outset;
    width: 30%;
}
.innerCounter{
    align-items: center;
    font-size: 0.2em;
   
}

#nameSpace{
    display: flex;  
    /* float : left;   */
}

.PBoard{
    height: 100%;
}
.outerBoard{
    display: flex;

}
.innerCpu{
    display: flex;
    width: 50%;
    height: 33%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid #E6E6E6;
    margin :20px 10px 20px 10px;
    
}
.innerMem{
    display: flex;
    width: 50%;
    height: 33%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid #E6E6E6;
    margin :20px 10px 20px 10px;
}

.innerTcp{
    display: flex;
    width: 12.5%;
    height: 33%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid #E6E6E6;
    margin :20px 10px 20px 10px;
}

.display-none {
    display: none;
    /* overflow-y: hidden; */
    
}


@media screen and (min-width:320px) and (max-width:800px){
    .chart{
        width:125%;
        height: 125%;
        /* max-width: 150%; */
        /* max-height: 150%; */
        
    }
    .nameSpace {
        width:100%;
        display: flex;
        flex-direction: column; 
        
    }
    
    .outerCounter{
        width:20%; 
        display: flex;
        flex-direction: column; 
    }
    .counter {
        font-size: 3em;
        width: 30%;
    }
    .board{
        /* display: flex; */
        /* width: 100%; */
        flex-direction: column;
    }
}