.outer{
    width: 80%;
    position: absolute;
    margin: 0rem 5rem 0rem 5rem;
}
.main{
    display:flex;
    flex-wrap : wrap;
    margin: 0rem 3rem 0rem 3rem;
}
.bottom{
    
    margin: 3rem 3rem 0rem 3rem;
}

.detail{
    text-align: center;
    width: 30%;
    min-width: 30%;
    max-width: 30%;
   
}
#detailType{
    width: 10%;
    min-width: 10%;
    max-width: 10%;
}
#detailDesc{
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    text-align: left;
    word-break: break-all;
}
.day{
    border: 1px solid black;
    /* text-align: right; */
    min-width: 14.2%;
    max-width: 14.2%;
    min-height: 5rem;
    display:flex;
    flex-direction: column;
    
    -webkit-touch-callout: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.scheduleBox{
     display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;

}
.scheduleIcon{
    min-width: 0;
    flex-basis: 20%;
}
.header{
    display: flex;
    flex-direction: column;
    text-align: center;
   


}
.otherMonth{
    color : gray;
}
.btnGroup{
    align-self: flex-end;
    margin-right: 3rem;
}

#inputGourpProperty{
    display: flex;
    flex-direction:row;
    /* display: -webkit-inline-box; */
}

#inputText{
    width: 70%;
}

#today{
   /* border: 3px solid red; */
   border-radius: 30%;
   width: 100%;
   background: pink;
   
}

#todaySvg{
    width: 1rem;
    height: 1rem;
    /* fill확인해보기 */
    /* fill:yellow; */
}
#gantt{
    border: 2px solid blue;
}

#prevMonth{
    position: relative;   
    border: 1px solid black;
    right : 3rem;
    width: 3rem;
}
#nextMonth{
    position: relative;   
    border: 1px solid black;
    width: 3rem;
}
